body {
  padding: 50px;
  line-height: 1.8;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.hstack {
  display: flex;
}

.profile {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 0.1);
  padding: 10px 30px;
  margin-bottom: 35px;
}

.image {
  width: 200px;
  margin: auto 50px auto auto;
}

.image img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10000px;
}

.me {
  margin-right: auto;
}

.link-area a img {
  height: 30px;
}

.update {
  margin: 0 auto;
  height: auto;
}

iframe {
  height: 100%;
}
