body {
  padding: 50px;
  line-height: 1.8;
  max-width: 1000px;
  margin: 0 auto;
}

.hstack {
  display: flex;
}

.image {
  width: 200px;
  margin: auto auto 0;
}

.image img {
  width: 100%;
  border: 1px solid black;
}

.update {
  margin: 0 auto;
  height: auto;
}

iframe {
  height: 100%;
}